@import "tailwindcss";
@import "tw-animate-css";

@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

@source "../node_modules/fumadocs-ui/dist/**/*.js";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.26 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.26 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.26 0 0);
  --primary: oklch(0.33 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.98 0 0);
  --secondary-foreground: oklch(0.33 0 0);
  --muted: oklch(0.98 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.98 0 0);
  --accent-foreground: oklch(0.33 0 0);
  --destructive: oklch(0.62 0.21 25.77);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.94 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0.77 0 0);
  --chart-1: oklch(0.82 0.13 84.49);
  --chart-2: oklch(0.8 0.11 203.6);
  --chart-3: oklch(0.42 0.17 266.78);
  --chart-4: oklch(0.92 0.08 125.58);
  --chart-5: oklch(0.92 0.1 116.19);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --radius: 0.425rem;
}

.dark {
  --background: oklch(0.14 0 285.82);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.14 0 285.82);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.14 0 285.82);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.21 0.01 285.88);
  --secondary: oklch(0.27 0.01 286.03);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.27 0.01 286.03);
  --muted-foreground: oklch(0.71 0.01 286.07);
  --accent: oklch(0.27 0.01 286.03);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.4 0.13 25.72);
  --destructive-foreground: oklch(0.97 0.01 17.38);
  --border: oklch(0.27 0.01 286.03);
  --input: oklch(0.27 0.01 286.03);
  --ring: oklch(0.87 0.01 286.29);
  --chart-1: oklch(0.53 0.19 262.13);
  --chart-2: oklch(0.7 0.13 165.46);
  --chart-3: oklch(0.72 0.15 60.63);
  --chart-4: oklch(0.62 0.2 312.73);
  --chart-5: oklch(0.61 0.21 6.39);
  --sidebar: oklch(0.21 0.01 285.88);
  --sidebar-foreground: oklch(0.97 0 286.38);
  --sidebar-primary: oklch(0.49 0.22 264.39);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.03);
  --sidebar-accent-foreground: oklch(0.97 0 286.38);
  --sidebar-border: oklch(0.27 0.01 286.03);
  --sidebar-ring: oklch(0.87 0.01 286.29);
  --radius: 0.425rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes stroke-dashoffset {
    0% {
      stroke-dashoffset: 100%;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .animate-fade-up {
    animation: fade-up 0.5s ease-out forwards;
    opacity: 0;
  }

  .animate-fade-down {
    animation: fade-down 0.5s ease-out forwards;
    opacity: 0;
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  .animate-stroke-dashoffset {
    animation: stroke-dashoffset 2s linear forwards;
  }
}

@layer components {
  .mdx table {
    @apply rounded-md;
  }

  .mdx table tr {
    @apply bg-transparent hover:bg-transparent;
  }

  .mdx table th {
    @apply bg-accent/50;
  }

  .auto-type-table table {
    @apply rounded-md;
  }

  .auto-type-table table tr {
    @apply bg-transparent hover:bg-transparent;
  }

  .auto-type-table table th {
    @apply bg-accent/50;
  }

  .auto-type-table table td {
    @apply align-top whitespace-pre-wrap;
  }

  .auto-type-table table td:nth-child(2) {
    @apply w-full;
  }

  [data-rehype-pretty-code-figure] figure {
    @apply !bg-secondary/50 m-0 rounded-none border-none;
  }

  [data-line] span {
    @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
  }

  [data-theme="light"] {
    display: block;
  }

  [data-theme="dark"] {
    display: none;
  }

  .dark [data-theme="light"] {
    display: none;
  }

  .dark [data-theme="dark"] {
    display: block;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative text-white;
  }

  [data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full rounded-none border-0 bg-transparent p-0 break-words;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-fragment] .line {
    @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] .line {
    @apply px-2;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    @apply text-xs text-zinc-50/40;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1.8rem;
    margin-right: 1.4rem;
    text-align: right;
  }

  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-zinc-700/50;
  }

  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
  }

  .dark [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply bg-zinc-900;
  }

  [data-rehype-pretty-code-title] {
    @apply text-foreground mt-2 px-4 pt-6 text-sm font-medium;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-2;
  }

  .mdx > .steps:first-child > h3:first-child {
    @apply mt-0;
  }

  .steps > h3 {
    @apply mt-8 mb-4 text-base font-semibold;
  }
}
